* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #e0e0e0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


main {
    flex-grow: 1;
}

.signup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-grow: 1;
}

.signup-box {
    background-color: white;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 550px;
    text-align: center;
}

.signup-box h1 {
    text-align: left;
    font-size: 40px;
    margin-left: 10px;
    margin-bottom: 0.8em;
}

.input-group {
    margin-bottom: 1.5em;
    text-align: center;
}

.input-group input {
    max-width: 25em;
    width: 100%;
    padding: 0.8em;
    border-radius: 5px;
    border: 1px solid #000000;
    outline: none;
}

.signup-button {
    max-width: 15em;
    width: 100%;
    padding: 0.8em;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    color: rgb(0, 0, 0);
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}

.google-signup-button {
    max-width: 15em;
    width: 100%;
    padding: 0.8em;
    border-radius: 10px;
    background-color: white;
    border: 1px solid black;
    color: black;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
}

.separator {
    margin: 8px 0;
    font-weight: bold;
    color: #888;
}

.login-link {
    margin-top: 30px;
    font-size: 0.9em;
}

.login-link a {
    color: #007bff;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}


footer {
    background-color: #7FF47F;
    padding: 20px 0;
    width: 100%;
    text-align: center;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 560px;  
    margin-bottom: 10px;
    margin-right: 350px;
}

.footer-nav a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    padding: 15px 50px;
    
}

.footer-nav a:nth-child(4) {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.footer-logo {
    width: 60px;
}

.links:hover {
    background-color: white;
    border-radius: 5px;
}

footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
}

header {
    font-family: "Roboto", sans-serif;
    background-color: #7FF47F;
    padding: 5px 50px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin: 40px auto;
    max-width: 1000px;
}

.header-container {
    max-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo-header {
    max-width: 90px;
    margin-right: 50px;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-item {
    text-decoration: none;
    font-size: 16px;
    color: black;
    padding: 10px 20px;
    border-radius: 20px;
}

.nav-item.active {
    color: black;
    font-weight: bold;
    padding: 5px 20px;
}

.nav-item:hover {
    border-radius: 10px;
    background-color: #ffffff; 
    color: black;
}

.search-container {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid black;
}

.search-container input {
    border: none;
    outline: none;
    padding: 5px;
    flex: 1;
    background: none;
    width: 50%;
}

.search-container .search-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: 6px;
}

.search-button img {
    width: 10px
    height 10px;
}
