* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #e0e0e0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.signup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-grow: 1;
}

.signup-box {
    background-color: white;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 550px;
    text-align: center;
}

.signup-box h1 {
    text-align: left;
    font-size: 40px;
    margin-left: 10px;
    margin-bottom: 0.8em;
}

.input-group {
    margin-bottom: 1.5em;
    text-align: center;
}

.input-group input {
    max-width: 25em;
    width: 100%;
    padding: 0.8em;
    border-radius: 5px;
    border: 1px solid #000000;
    outline: none;
}

.signup-button {
    max-width: 15em;
    width: 100%;
    padding: 0.8em;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    color: rgb(0, 0, 0);
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}

.google-signup-button {
    max-width: 15em;
    width: 100%;
    padding: 0.8em;
    border-radius: 10px;
    background-color: white;
    border: 1px solid black;
    color: black;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
}

.separator {
    margin: 8px 0;
    font-weight: bold;
    color: #888;
}

.login-link {
    margin-top: 30px;
    font-size: 0.9em;
}

.login-link a {
    color: #007bff;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}

footer {
    background-color: #7FF47F;
    padding: 50px;
    text-align: center;
    flex-shrink: 0; 
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.footer-nav a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    margin: 0 10px;
}

.footer-icon {
    width: 40px;
}

footer a:hover {
    text-decoration: underline;
}

footer p {
    font-size: 14px;
    color: black;
}
