body {
    background-color: #000000; 
    max-width: 100%;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    margin-top: 40px;
    margin-left: 90px;
    color: white;
}

p {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 22px;
    padding-left: 0px;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 20px;
    font-style: normal;
    padding: 20px;
}
  
.roboto-bold-white {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 20px;
    font-style: normal;
    color: white;
}

.navbar .nav-item a {
    font-family:"roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(0, 0, 0);
}

.navbar {
   max-width: 60%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-radius: 35px;
    padding: 0px 40px;
    background-color: #8BE67D;
}

.navbar-logo {
    height: 70px; 
    width: auto; 
    margin-right: 15px; 
  }
  

.form-control {
    border-radius: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
   
  }
  
  
  #poster {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
  }
  
  #poster div {
    text-align: center;
    margin-bottom: 20px;
  }
  
  #poster p {
    font-size: 1em;
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
    width: 267px;
  }

  .img-responsive {
    width:267px; 
    height: 400px;
    margin: 0px 20px ;
    transition: transform 0.2s;
    border-radius: 10px;
  }
  
  .img-responsive:hover {
    transform: scale(1.05);
  }



@media (max-width: 768px) {
   .navbar {
    max-width: 100%;
    border-radius: 0px;
    margin-top: 0px;
    padding: 0px 25px;
   }


}

