body {
    background-color: #000000; 
    max-width: 100%;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    margin: 40px 0 0 90px;
    color: white;
}

p {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    padding: 22px 0 22px 0;
}

.roboto-bold, .roboto-bold-white {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 20px;
    padding: 20px;
}

.roboto-bold-white {
    color: white;
}

.navbar {
    max-width: 60%;
    display: flex;
    margin: 30px auto 0 auto;
    border-radius: 35px;
    padding: 0 40px;
    background-color: #8BE67D;
}

.navbar .nav-item a {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: rgb(0, 0, 0);
}

.navbar-logo {
    height: 70px; 
    margin-right: 15px; 
}

.form-control {
    border-radius: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.container h1 {
    margin: 30px;
}

#poster-4, #poster-20 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#poster-4 div, #poster-20 div {
    text-align: center;
    margin-bottom: 20px;
}

#poster-4 p, #poster-20 p {
    font-size: 1em;
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    width: 267px;
}

.img-responsive {
    width: 267px; 
    height: 400px;
    transition: transform 0.2s;
    border-radius: 10px;
}

.img-responsive:hover {
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .navbar {
        max-width: 100%;
        border-radius: 0;
        padding: 0 25px;
    }

    .img-responsive {
        width: auto; 
        height: 200px;
        margin: 0 10px;
    }

    #poster-4 div, #poster-20 div {
        overflow-x: scroll;
    }

    #poster-4 p, #poster-20 p {
        font-size: 1em;
        padding: 0;
        margin: 0;
        width: 133px;
        font-weight: 200;
    }
}

.info-buttons {
    display: none; 
    position: absolute;
    bottom: 50px; 
    right: 10px; 
    background: rgba(84, 84, 84, 0.642); 
    padding: 10px;
    border-radius: 5px;
    backdrop-filter: blur(5px);
    font-weight: 600;
    color: rgb(255, 255, 255);
    margin: 10px;
    font-size: 12px;
    white-space: nowrap; 
}

.movie-card {
    position: relative; 
    display: inline-block;
    margin: 15px;
}

.movie-card:hover .info-buttons {
    display: block; 
}

.view_more{
    padding: 10px 30px;
    border-radius: 10px;
    background-color: #ffffff;
    color: black;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 30px;
}